@import url('https://fonts.googleapis.com/css?family=Hind+Madurai&display=swap');

/* ----- Globals ----- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: rgb(255, 241, 181);
    background-color: #333; 
    font-family: 'Hind Madurai', sans-serif;
}

a {
    color: rgb(255, 241, 181);
    text-decoration: none;
}

/* ----- Game Grid ----- */
#game-grid {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw; 
    max-width: 540px;
    height: 77vw;
    max-height: 600px;
    padding: .7%;
    background-color: rgb(207, 191, 187);
    background: linear-gradient(0deg, rgb(228, 115, 50) 0%, rgb(255, 241, 181) 100%);
    border-radius: 5px;
}

#lives-left {
    width: 100%;
    height: 10%;
    background-color: #333;
    padding-left: 5%;
    padding-right: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#lives-left > p {
    font-size: 3vw;
}

#game-background {
    width: 100%;
    margin-top: 1.3%;
    height: 88.5%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1%;
}

/* ----- Game Cells ------ */
.game-cell {
    background-color: #333;
    background-image: none;
    background-size: cover;
    border-radius: 2px;
}

.game-cell:hover {
    background-color: #555;
}

.anubis {
    background-image: url(Media/Anubis.png);
}

.centaur {
    background-image: url(Media/Centaur.png);
}

.dinosaur {
    background-image: url(Media/Dinosaur.png);
}

.hydra {
    background-image: url(Media/Hydra.png);
}

.ghost {
    background-image: url(Media/Ghost.png);
}

.loch-ness {
    background-image: url(Media/LochNess.png);
}

.moon {
    background-image: url(Media/Moon.png);
}

.reaper {
    background-image: url(Media/Reaper.png);
}

/* ----- Message Box ----- */

.game-modal-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    opacity: 0;
    visibility: hidden;
}

.game-modal-message {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(204, 204, 204, 1);
    padding: 3%;
    width: 30%;
    max-width: 300px;
    max-height: 200px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-modal-message p {
    color: #333;
    font-size: 2.7vw;
    user-select: none;
}

.show-modal {
    opacity: 1;
    visibility: visible;
}

#message-header {
    color: #333;
}

#message-btn {
    margin-top: 5%;
    padding: 5%;
    background-color: #888;
    display: flex;
    justify-content: center;
}

#message-btn:active {
    background-color: #777;
}
/* ----- Media Queries ----- */
@media screen and (min-width: 768px) {

    /* ----- Game Grid ----- */
    #lives-left > p {
        font-size: 23px;
    }

    .game-modal-message p {
        color: #333;
        font-size: 20px;
    }
}